{% extends 'layout.html' %}

{% block title %} GYST -- SWIGGIN BITCHES {% endblock %}

{% block content %}
<table class="table table-striped table-hover">
  <col span="10">
  <thead>
    <tr>
      <th class="row_no">#</th>
      <th class="order_no">Order #</th>
      <th class="date">Date</th>
      <th class="message">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for message in message_container_text %}
    <tr>
      <td>{{loop.index}}</td>
      <td>##-###-####</td>
      <td>{{message.content | dater}}</td>
      <td>{{message.content}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="container">
  {{messages}}
</div>
{% endblock %}